<!-- *ngIf guilds, else you have no guilds -->
<div class="container">
<h4 >Guilds:</h4>
    <!-- <h5 class="text-center" *ngIf="!guildList || guildList.length === 0">You have no guilds right now</h5> -->
   <!--  <div class="list-group" *ngFor="let guild of guildList">
      <a [routerLink]="['/guilds', guild.id]" class="list-group-item list-group-item-action text-center">{{ guild.name }}</a>
      <button *ngIf="guild.status == 'ONLINE'" class="btn btn-danger" type="button" (click)="startStop(guild.id)">turn off</button>
      <button *ngIf="guild.status == 'OFFLINE'" class="btn btn-success" type="button" (click)="startStop(guild.id)">turn on</button>
    </div> -->
</div>
<!-- /<a [routerLink]="['/guilds/add']" class="btn btn-link">Add Guild</a> -->
