<div>
  <font color="white">﻿<h4>Commands</h4></font>
  <!-- Display for no commands -->
  <div *ngIf="editedCommandList.length == 0">
    <div class="jumbotron text-center bg-light" *ngIf="!editedCommandList || editedCommandList.length === 0">
      <h5>Add commands for your Bot!</h5>
      <button type="button" class="btn btn-link" (click)="createCommand()">Add Command</button>
    </div>
  </div>
  <div *ngFor="let command of editedCommandList; index as i">
    <div class="card">
        <div class="card-header p-0">
            <div class="d-flex align-items-center justify-content-between">
              <div class="p-2">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" [attr.data-target]="'#ActionsFor'+ i">
                  Actions <span class="badge badge-light">{{actionsEditor.editedActions.length}}</span>
                </button>
              </div>
              <div class="p-2 d-flex justify-content-center">
                <h5 *ngIf='!command.nameEditing' class="m-0 align-self-center">
                    {{command.name}}
                  </h5>
                <div class="input-group input-group-sm" *ngIf='command.nameEditing'>
                  <input type="text" class="form-control"
                           [(ngModel)]="command.name" placeholder="Name"
                  aria-label="Command Name" aria-describedby="delete-command">
                  <div class="input-group-append">
                    <button class="btn btn-outline-danger" type="button"
                              id="delete-command" (click)='deleteCommand(i)'>Delete</button>
                  </div>
                </div>
              </div>
              <div class="p-2">
                <button *ngIf='!command.nameEditing' type="button"
                        class="btn btn-outline-secondary btn-sm ml-1"
                        (click)='command.nameEditing=true;'>Edit</button>
                <button type="button" *ngIf='command.nameEditing'
                        class="btn btn-outline-secondary btn-sm"
                        (click)='command.nameEditing=false;'>Done</button>
              </div>
            </div>
        </div>
        <div class="collapse" id="ActionsFor{{i}}">
            <div class="card-body">
                <app-actions-edit #actionsEditor [actions]="command.Actions" [commandEditId]="i">
                </app-actions-edit>
            </div>
        </div>
    </div>
  </div>
  <small class="d-block text-right mt-1" *ngIf="editedCommandList.length > 0">
      <button type="button" class="btn btn-link" (click)="createCommand()">Add Command</button>
  </small>
  <!--<button type="button" (click)="resetEditedCommands()"-->
          <!--class="btn btn-secondary">-->
    <!--Reset-->
  <!--</button>-->
  <!--<button type="button" (click)="sendEditedCommandListToServer()"-->
          <!--class="btn btn-primary">-->
    <!--Save Commands-->
  <!--</button>-->
</div>
