<div class="container" *ngIf="contact">
  <h3>{{contact.lastName}}, {{contact.firstName}}</h3>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <strong>Email:</strong>
      </div>
      <div class="col-sm">
        {{contact.email}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <strong>Phone:</strong>
      </div>
      <div class="col-sm">
        {{contact.phone}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <strong>Notes:</strong>
      </div>
      <div class="col-sm"></div>
    </div>
    <div class="row">
      <div class="col-sm" *ngIf="contact.notes && contact.notes != ''">
          <p>{{contact.notes}}</p>
      </div>
      <div class="col-sm text-center" *ngIf="!(contact.notes && contact.notes != '')">
        <em>None</em>
      </div>
    </div>
  </div>
  <a [routerLink]="['/']" class="btn btn-link">Back</a>
  <a [routerLink]="['/contacts/edit', contact.id ]" class="btn btn-link">Edit</a>
</div>
