<!-- <div class="container" *ngIf="guild"> -->

<div class="container" *ngIf="guildList || guildList.length !== 0">

  <h4>Member:</h4>
  <div class="list-group" *ngFor="let guild of guildList" >
    <div class="list-group"  *ngFor="let member of guild.member">
      <p *ngIf="guild.id == gid" class="text-center">{{ member }}</p>

    </div>
  </div>
  <a [routerLink]="['/']" class="btn btn-link">Back</a>
  <!-- <h3>{{guild.name}}  -->
  <!-- <a [routerLink]="['/']" class="btn btn-link">I am a button, cool</a>  -->
  <!-- </h3> -->
<!--   <div class="container">
    <div class="row">
      <div class="col-sm">
        <strong>Discord Token:</strong>
      </div>
      <div class="col-sm">
        {{guild.discordToken}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <strong>Status:</strong>
      </div>
      <div class="col-sm">
        {{guild.status}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <strong>Command Prefix:</strong>
      </div>
      <div class="col-sm">
        {{guild.commandPrefix}}
      </div>
    </div>
  </div> -->
<!--   <a [routerLink]="['/']" class="btn btn-link">Back</a>
  <a [routerLink]="['/guilds/edit', guild.id ]" class="btn btn-link">Edit</a> -->
</div>
