<!-- <div class="container" *ngIf="guild"> -->

<div class="container" *ngIf="memberList || memberList.length !== 0">

  <h4>Member:</h4>
  <div class="list-group" *ngFor="let member of memberList" >
    <!-- <div class="list-group"  *ngFor="let member of guild.member"> -->
      <!-- <p *ngIf="guild.id == gid" class="text-center">{{ member }}</p> -->
<!-- <router-outlet></router-outlet> -->
<p> username: {{member.username}}</p>
    <!-- </div> -->
  </div>


  <h4>Emoji:</h4>
  <div class="list-group" *ngFor="let emoji of emojiList" >
    <!-- <div class="list-group"  *ngFor="let member of guild.member"> -->
      <!-- <p *ngIf="guild.id == gid" class="text-center">{{ member }}</p> -->
<!-- <router-outlet></router-outlet> -->
<p> name: {{emoji.name}}</p>
    <!-- </div> -->
  </div>
  <a [routerLink]="['/bots', bid]" class="btn btn-link">Back</a>
  <!-- <h3>{{guild.name}}  -->
  <!-- <a [routerLink]="['/']" class="btn btn-link">I am a button, cool</a>  -->
  <!-- </h3> -->
<!--   <div class="container">
    <div class="row">
      <div class="col-sm">
        <strong>Discord Token:</strong>
      </div>
      <div class="col-sm">
        {{guild.discordToken}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <strong>Status:</strong>
      </div>
      <div class="col-sm">
        {{guild.status}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <strong>Command Prefix:</strong>
      </div>
      <div class="col-sm">
        {{guild.commandPrefix}}
      </div>
    </div>
  </div> -->
<!--   <a [routerLink]="['/']" class="btn btn-link">Back</a>
  <a [routerLink]="['/guilds/edit', guild.id ]" class="btn btn-link">Edit</a> -->
</div>
