<h2 class="text-center">Home</h2>
<div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Bots</h6>
    <div class="jumbotron text-center" *ngIf="!botList || botList.length === 0">
        <h5>You have no bots right now</h5>
        <a [routerLink]="['/bots/add']">Create New Bot</a>
    </div>
    <div class="media pt-3" *ngFor="let bot of botList">
        <img src="http://via.placeholder.com/64x64" alt="" class="mr-2 rounded-circle avatar">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">{{ bot.name }}</strong>
                <span class="badge badge-pill badge-success" *ngIf="bot.status == 'ONLINE'">Online</span>
                <span class="badge badge-pill badge-secondary" *ngIf="bot.status == 'OFFLINE'">Offline</span>
            </div>
            <a [routerLink]="['/bots', bot.id]">Details</a>
        </div>
    </div>
    <small class="d-block text-right mt-3">
        <a [routerLink]="['/bots/add']">Create New Bot</a>
    </small>
</div>
