<div class="jumbotron">
  <font color="white"><h2>Home</h2></font>
  <div class="my-3 p-3 bg-white rounded box-shadow">
      <h6 class="border-bottom border-gray pb-2 mb-0">Bots</h6>
      <div class="forms text-center" *ngIf="!botList || botList.length === 0">
          <font color="white"><h5>You have no bots right now</h5></font>
          <a [routerLink]="['/bots/add']">Create New Bot</a>
      </div>
      <div id="onlineBots" *ngFor="let bot of onlineBots">
              <div class="media pt-3">
                  <img src={{bot.user.avatarURL}} alt=""
                  class="mr-2 rounded-circle avatar border border-success">
                  <div class="media-body pb-2 mb-0 small lh-125 border-bottom border-gray">
                      <div class="d-flex">
                          <div class="d-flex flex-column w-100">
                              <div>
                                  {{ bot.name }}<span class="badge badge-pill badge-success ml-1" *ngIf="bot.status == 'ONLINE'">Online</span>
                              </div>
                              <div><a [routerLink]="['/bots', bot.id]">Details</a></div>
                          </div>
                        <div class="flex-shrink-1 d-flex">
                            <div class="align-self-center mr-1">
                              <img *ngIf="bot.isChangingStatus" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            </div>
                            <button class="btn btn-light" [disabled]="bot.isChangingStatus" (click)="startStop(bot.id)">STOP</button>
                        </div>
                      </div>
                  </div>
              </div>
      </div>
      <div id="offlineBots" *ngFor="let bot of offlineBots">
          <div class="media pt-3">
              <img src={{bot.user.avatarURL}} alt="" *ngIf="bot.user"
              class="mr-2 rounded-circle avatar border border-secondary">
              <img src="http://via.placeholder.com/64x64" alt="" *ngIf="!bot.user"
               class="mr-2 rounded-circle avatar border border-secondary">
              <div class="media-body pb-2 mb-0 small lh-125 border-bottom border-gray">
                  <div class="d-flex">
                      <div class="d-flex flex-column w-100">
                          <div>
                              {{ bot.name }}<span class="badge badge-pill badge-secondary ml-1" *ngIf="bot.status == 'OFFLINE'">Offline</span>
                          </div>
                          <div><a [routerLink]="['/bots', bot.id]">Details</a></div>
                      </div>
                    <div class="flex-shrink-1 d-flex">
                        <div class="align-self-center mr-1">
                          <img *ngIf="bot.isChangingStatus" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </div>
                        <button class="btn btn-secondary" [disabled]="bot.isChangingStatus" (click)="startStop(bot.id)">START</button>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <small class="d-block text-right mt-3">
          <a [routerLink]="['/bots/add']">Create New Bot</a>
      </small>
  </div>
</div>
