<div>
  <p><h5>{{command.name}} ({{actions.length}} actions)<button class="todo" type="button" (click)="deleteCommand(command.id)">X</button></h5>
  <div>
    <table class="table">
      <tbody>
        <tr *ngFor="let action of actions">
          <td><input type="text" name="actionType-{{action.id}}" id="actionType" [(ngModel)]="action.type" placeholder="Type" class="form-control"></td>
          <td>
            <div *ngFor="let param of action.parameters; let i = index">
              <input type="text" class="form-control" value="{{param}}" [(ngModel)]="action.parameters[i]">
            </div>
          </td>
          <td class="o">
            <button class="btn btn-success" type="button" (click)="updateAction(action)">
              Update
            </button>
            <button class="btn btn-danger" type="button" (click)="deleteAction(action.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-secondary" type="button" (click)="addAction()">
      Add Action
    </button>
  </div>
</div>
